# sphinx
build
source/_build
source/_templates
make.bat
Makefile

# pypi
dist
MANIFEST
Asciin.py.egg-info

# utilities
publish.bat

# tests
tests
.todo

# ide / editor
.vscode

# cache
*.pyc